// colors 
$beige: #fdf4c1;
$black: #1f1f1f;
$blue: #83a598;

// general
h1 {
  color: $beige;
  font-size: 20px;
}
p {
  color: $beige;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: $black;
}
svg#board {
  background-color: $beige;
}
.hidden {
  visibility: hidden;
}

// tile
rect.tile {
  fill: $black;
  stroke: $blue;
}
rect.tileLine {
  fill: $beige;
}
circle.dot {
  fill: $beige;
}
svg text {
  font-size: 20px;
  fill: $beige;
}
